    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }
    
    *:focus {
        outline: none;
    }
    
    body {
        font-family: "Sriracha", sans-serif;
    }
    
    path,
    i,
    svg {
        pointer-events: none;
    }
    
    .colors {
        min-height: 80vh;
        display: flex;
        color: rgb(212, 212, 212);
    }
    
    .color {
        height: 80vh;
        display: flex;
        flex: 1;
        flex-direction: column;
        align-items: center;
        justify-content: space-evenly;
        position: relative;
        overflow: hidden;
    }
    
    .color h2 {
        font-size: 2rem;
        cursor: pointer;
    }
    
    .controls {
        margin-bottom: 150px;
    }
    
    .sliders {
        display: flex;
        flex-direction: column;
        position: absolute;
        background-color: white;
        opacity: 1;
        bottom: 0%;
        width: 80%;
        padding: 1rem;
        border-top-right-radius: 1rem;
        border-top-left-radius: 1rem;
        transform: translateY(270px);
        transition: all 0.5s ease-in-out;
    }
    
    .sliders.active {
        opacity: 1;
        transform: translateY(0);
        pointer-events: all;
    }
    
    .sliders button {
        position: absolute;
        top: 0;
        right: 0;
        padding: 0.5rem;
        border-top-left-radius: 1rem;
        border-bottom-left-radius: 1rem;
        pointer-events: none;
        border: none;
        background-color: rgb(73, 73, 73);
        color: white;
        cursor: pointer;
        font-weight: bold;
    }
    
    .controls {
        display: flex;
        flex-direction: column;
    }
    
    .panel {
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        height: 20vh;
    }
    
    .panel button {
        font-size: 1.2rem;
        margin: 1rem;
        padding: 1rem 2rem;
        background-color: rgb(31, 33, 63);
        border-radius: 1rem;
    }
    
    .panel p {
        font-size: 1.2rem;
    }
    
    .library-panel,
    .generate-panel,
    .save-panel {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    
    .adjust,
    .lock {
        font-size: 2rem;
        border: none;
        background: none;
        cursor: pointer;
        margin-top: 2rem;
    }
    
    input[type="range"] {
        -webkit-appearance: none;
        position: relative;
        margin: 1rem 0rem;
        cursor: pointer;
        width: 100%;
    }
    
    .generated {
        height: 100px;
        width: 100px;
        display: flex;
        justify-content: center;
        align-items: center;
        color: green;
        background-color: white;
    }
    
    .copy-container {
        width: 100%;
        height: 100%;
        background-color: rgb(73, 73, 73, 0.3);
        position: absolute;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        top: 0;
        pointer-events: none;
        opacity: 0;
    }
    
    h3,
    h4 {
        opacity: 1;
    }
    
    .copy-popup {
        transition: all 0.5s ease-in;
        background-color: white;
        font-size: 2rem;
        width: 35%;
        height: 25%;
        text-align: center;
        opacity: 0.9;
        transform: scale(0.5);
        border: 2px solid rgba(0, 0, 0, 0.9);
        border-radius: 15px;
    }
    
    .copy-popup h3 {
        margin-top: 5%;
    }
    
    .copy-container.active {
        opacity: 1;
        pointer-events: all;
    }
    
    .copy-popup.active {
        transform: scale(1);
    }
    
    .library-container {
        width: 100%;
        height: 100%;
        transition: all 0.5s ease-in;
        background-color: rgb(73, 73, 73, 0.3);
        position: absolute;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        top: 0;
        pointer-events: none;
        opacity: 0;
    }
    
    .library-popup {
        transition: all 0.6s ease-in;
        background-color: white;
        font-size: 2rem;
        width: 35%;
        height: 30%;
        text-align: center;
        opacity: 1;
        transform: scale(0.5);
        overflow-y: scroll;
        overflow-x: none;
        display: flex;
        justify-content: space-evenly;
    }
    
    .library-container.active {
        opacity: 1;
        pointer-events: all;
    }
    
    .library-popup.active {
        transform: scale(1);
    }
    
    .close-library {
        padding: 0.5rem;
        color: blue;
        background-color: white;
        border: none;
        cursor: pointer;
        position: absolute;
        right: 0;
        background-color: black;
        top: 0;
        overflow: hidden;
    }
    
    .save-container {
        width: 100%;
        height: 100%;
        background-color: rgb(73, 73, 73, 0.3);
        position: absolute;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        top: 0;
        pointer-events: none;
        opacity: 0;
        transition: all 1s ease-in-out;
    }
    
    .save-popup {
        border-radius: 10%;
        position: relative;
        transition: all 0.6s ease-in;
        background-color: white;
        font-size: 2rem;
        width: 35%;
        height: 25%;
        text-align: center;
        opacity: 1;
        transform: scale(0.5);
    }
    
    .close-save {
        padding: 0.5rem;
        color: blue;
        background-color: white;
        border: none;
        cursor: pointer;
        display: flex;
        position: absolute;
        right: 2%;
        top: 3.8%;
    }
    
    .submit-save {
        font-size: 1rem;
        justify-content: center;
        padding: 0.5rem;
        color: white;
        width: 20%;
        background-color: rgba(0, 0, 0, 0.97);
        border: none;
        cursor: pointer;
        display: flex;
        position: absolute;
        left: 38%;
        top: 90%;
    }
    
    .save-container.active {
        opacity: 1;
        pointer-events: all;
        transform: scale(1);
    }
    
    .save-popup.active {
        transform: scale(1);
    }
    
    .Lirbrary-div {
        display: flex;
        width: 100%;
        height: 100%;
        flex-direction: row;
        padding: 0.5rem;
        justify-content: flex-end;
        margin-top: 6%;
        justify-content: space-evenly;
    }
    
    .name {
        position: relative;
        display: flex;
        justify-content: flex-start;
        width: 50%;
        height: 30%;
        font-size: 1rem;
    }
    
    .library-colors-specs {
        height: 100%;
        width: 8%;
    }
    
    .mainDiv {
        width: 100%;
        height: 30%;
        display: flex;
        flex-direction: column;
    }